<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<style>
#main {min-height: 100px; background-color: orangered;}
#bottom {background-color: grey; color: white;}
div.img {border: 2px solid white; float: left; margin: 10px; width: 100px; height: 100px;}
</style>
</head>

<body>

<div id="main"></div>
<footer id="bottom" class="row text-left p-4">
<div>

  <!--<div class="col-12 col-md-4">
    
    
    -</div>
    <div class="img"></div>
    <div class="img"></div>
    <div class="img"></div>
    <div class="img"></div>
  

</div>-->


  <img
    src="/assets/img/books.jpeg"
    class="img-thumbnail"
    alt="Books"
    width=220px
    height=220px 
  />
          
  <img
  src="/assets/img/series.jpeg"
    class="img-thumbnail"
    alt="Series"
    width=220px
    height=220px        
  />
      
  <img
  src="/assets/img/movies.jpg"
    class="img-thumbnail"
    alt="Movies"
    width=220px
    height=220px
  />
        
  <img
  src="/assets/img/music.jpg"
    class="img-thumbnail"
    alt="Music"
    width=220px
    height=220px
  />
            
  <!-- Copyright 
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright: 
    <a class="text-white">Arancia Mediatica</a>
  </div>-->

  <div class="footerscss">
    © 2022 Copyright: Arancia Mediatica
  </div>
  <!-- Copyright -->


  
  