.login-page {
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 360px;
  margin: auto;
  padding: 100px 10px;
  input {
    margin-bottom: 0;
  }
  button {
    justify-content: center;
  }
}
